<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
  <title>{{docset}} Report</title>
</head>
<body>
<h1>{{docset}}</h1>
<h2>Bad titles</h2>
  <ul>
  {% for item in badtitles %}
  <li>
  <a href="{{ url }}{{ item }}/locales/en-US" target="_blank">{{ item }}</a>
  </li>
  {% endfor %}
  </ul>

<h2>Complicated tables</h2>
<table>
<tbody>
  {% for key, value in badtables.items() %}
<tr>
    <td><a href="{{ url }}{{ key }}/locales/en-US" target="_blank">{{ key }}</a><br /></td>
    <td>{{ value }}</td>
 </tr>
  {% endfor %}
</tbody>
</table>
</body>
</html>